body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #00B7FF;
}

.control {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  color: white;
}

.banner {
  height: 60px;
  width: 100%;
  background: #00ABC0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15em;
}

.logo {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.summit {
  font-weight: medium;
  font-size: 16px;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
}

.menuItem {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-right: 10em;
}

.main {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#map {
  position: relative;
  display: flex;
  width:60%;
  height:850px;
}

.other {
  width: 40%;
  height:850px;
  margin-left: 1em;
}

.settings {
  margin-top: 1em;
  width: 100%;
  display: flex;
  margin-bottom: 2em;
}

#allergySelect {
  margin-left: 8%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00ABC0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}